<div class="modal fade" id="show-bts">
  <div class="modal-dialog">
    <div class="modal-content bg">
      <div class="modal-header">
        <h4 class="modal-title">Pilih BTS <span id="showtitle"></span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="tblbts" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Lokasi</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Lokasi</th>
                <th>Aksi</th>
                </tr>      
            </tfoot>
        </table>
    </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
